apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-homaynrs
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-homaynrs:72522adfc38f71dddb38bb37ea2bca894e776782@sha256:7c7423cbfbc822066d51ee9946a4f5fce412fc209af9ad2fcf5ea1baafbeeb56
        name: container-image  
